<!DOCTYPE html>



<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
  <meta charset="utf-8">
  <title>Teckstart</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta content="Metronic Shop UI description" name="description">
  <meta content="Metronic Shop UI keywords" name="keywords">
  <meta content="keenthemes" name="author">


  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-"> 
  <meta property="og:url" content="-CUSTOMER VALUE-">  
  <link rel="shortcut icon" href="static/image/index_images/techstat.ico">  

  <!-- Fonts START -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
  <!-- Fonts END -->

  <!-- Global styles START -->          
  <link href="static/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Global styles END --> 
   
  <!-- Page level plugin styles START -->
  <link href="static/assets/pages/css/animate.css" rel="stylesheet">
  <link href="static/assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
  <link href="static/assets/plugins/owl.carousel/assets/owl.carousel.css" rel="stylesheet">
  <!-- Page level plugin styles END -->

  <!-- Theme styles START -->
  <link href="static/assets/pages/css/components.css" rel="stylesheet">
  <link href="static/assets/pages/css/slider.css" rel="stylesheet">
  <link href="static/assets/corporate/css/style.css" rel="stylesheet">
  <link href="static/assets/corporate/css/style-responsive.css" rel="stylesheet">
  <link href="static/assets/corporate/css/custom.css" rel="stylesheet">
  <!-- Theme styles END -->
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="corporate">
   
    <!-- END BEGIN STYLE CUSTOMIZER --> 
    <div class="color-panel hidden-sm">
      <div class="color-mode-icons icon-color"></div>
      <div class="color-mode-icons icon-color-close"></div>
      <div class="color-mode">
        <p>THEME COLOR</p>
        <ul class="inline">
          <li class="color-red current color-default" data-style="red"></li>
          <li class="color-blue" data-style="blue"></li>
          <li class="color-green" data-style="green"></li>
          <li class="color-orange" data-style="orange"></li>
          <li class="color-gray" data-style="gray"></li>
          <li class="color-turquoise" data-style="turquoise"></li>
        </ul>
      </div>
    </div>
    <!-- BEGIN TOP BAR -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <!-- BEGIN TOP BAR LEFT PART -->
                <div class="col-md-6 col-sm-6 additional-shop-info">
                    <ul class="list-unstyled list-inline">
                        <li><i class="fa fa-phone"></i><span>+2348039907187</span></li>
                        <li><i class="fa fa-envelope-o"></i><span>info@teckstart.com</span></li>
                    </ul>
                </div>
                <!-- END TOP BAR LEFT PART -->
                <!-- BEGIN TOP BAR MENU -->
                <div class="col-md-6 col-sm-6 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                        <li><a href="error500">Log In</a></li>
                        <li><a href="error500">Sign Up</a></li>
                    </ul>
                </div>
                <!-- END TOP BAR MENU -->
            </div>
        </div>        
    </div>
    <!-- END TOP BAR -->
    <!-- BEGIN HEADER -->
    <div class="header">
      <div class="container">
        <a class="site-logo" href="index.html"><img src='static/image/index_images/techstat_n.png' alt="teckstart"></a>

        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation pull-right font-transform-inherit">
          <ul>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                Getting Started 
              </a>
              <ul class="dropdown-menu">
                
              </ul> 
              
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                Tech Fields 
              </a>
              <ul class="dropdown-menu">
                <li><a href="mobile">Mobile Application development</a></li>
                <li><a href="error500">Web Development</a></li>
                <li><a href="error500">Data Science/Engineering</a></li>
                <li><a href="error500">Machine Learning/AI</a></li>
                <li><a href="error500">Ui/Ux</a></li>
                <li><a href="error500">Cyber Security</a></li>
                
              </ul>
            </li>



             
                    

            <!-- BEGIN TOP SEARCH -->
            
            <!-- END TOP SEARCH -->
          </ul>
        </div>
        <!-- END NAVIGATION -->
      </div>
    </div>
    <!-- Header END -->




    <!-- BEGIN SLIDER -->
    <div class="page-slider margin-bottom-40">
        <div id="carousel-example-generic" class="carousel slide carousel-slider">
            <!-- Indicators -->
            <ol class="carousel-indicators carousel-indicators-frontend">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <!-- First slide -->
                <div class="item carousel-item-eight active">
                    <div class="container">
                        <div class="carousel-position-six text-uppercase text-center">
                            <h2 class="margin-bottom-20 animate-delay carousel-title-v5" data-animation="animated fadeInDown">
                              Are you a Tech Upstart? <br/>
                                <span class="carousel-title-normal"> and need proper tutelege?</span>
                            </h2>
                            <p class="carousel-subtitle-v5 border-top-bottom margin-bottom-30" data-animation="animated fadeInDown">We are here to help</p>
                            
                        </div>
                    </div>
                </div>
                
                <!-- Second slide -->
                <div class="item carousel-item-nine">
                    <div class="container">
                        <div class="carousel-position-six">
                            <h2 class="animate-delay carousel-title-v6 text-uppercase" data-animation="animated fadeInDown">
                                need a helping hand?
                            </h2>
                            <p class="carousel-subtitle-v6 text-uppercase" data-animation="animated fadeInDown">
                                You'll be guided  in the path of your chosen tech field
                            </p>
                            <p class="carousel-subtitle-v7 margin-bottom-30" data-animation="animated fadeInDown">
                                you'll get  the latest tech update/info.<br/>
                                You can also connect to great websites and social media channels where you can learn properly.
                            </p>
                            <a class="carousel-btn-green" href="#" data-animation="animated fadeInUp">Sign up to get started</a>
                        </div>
                    </div>
                </div>

                <!-- Third slide -->
                <div class="item carousel-item-ten">
                    <div class="container">
                        <div class="carousel-position-six">
                            <h2 class="animate-delay carousel-title-v6 text-uppercase" data-animation="animated fadeInDown">
                                experinced in Tech?
                            </h2>
                            <p class="carousel-subtitle-v6 text-uppercase" data-animation="animated fadeInDown">
                                and want to be Job ready?
                            </p>
                            <p class="carousel-subtitle-v7 margin-bottom-30" data-animation="animated fadeInDown">
                                
                                You'll be provided with relevant information about top IT firms on the globe.<br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control carousel-control-shop carousel-control-frontend" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
            <a class="right carousel-control carousel-control-shop carousel-control-frontend" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!-- END SLIDER -->

    <div class="main">
      <div class="container">
        <!-- BEGIN SERVICE BOX -->   
        <div class="row service-box margin-bottom-40">
          <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
              <em><i class="fa fa-location-arrow blue"></i></em>
              <span>We guide</span>
            </div>
            
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
              <em><i class="fa fa-check red"></i></em>
              <span>we inform</span>
            </div>
            
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
              <em><i class="fa fa-compress green"></i></em>
              <span>we connect</span>
            </div>
            
          </div>
        </div>
        <!-- END SERVICE BOX -->

        <!-- BEGIN BLOCKQUOTE BLOCK -->   
        <div class="row quote-v1 margin-bottom-30">
          <div class="col-md-9">
            <span>Techstat the most outstanding website for Tech startups</span>
          </div>
          
        </div>
        <!-- END BLOCKQUOTE BLOCK -->

        <!-- BEGIN RECENT WORKS -->
        <div class="row recent-work margin-bottom-40">
          <div class="col-md-3">
            <h2><a>Meet our Facilitators</a></h2>
            
          </div>
          <div class="col-md-9">
            <div class="owl-carousel owl-carousel3">
              <div class="recent-work-item">
                <em>
                  <img src="static/image/index_images/lateef.png" alt="some image here" class="img-responsive">
                  
                </em>
                <a class="recent-work-description" href="javascript:;">
                  <strong>Malik Lateef</strong>
                  <b>Machine Learning Engineer|Mobile App Developer</b>
                </a>
              </div>


              <div class="recent-work-item">
                <em>
                  <img src="static/image/index_images/eto.jpg" alt="some image here" class="img-responsive">
                  
                </em>
                <a class="recent-work-description" href="javascript:;">
                  <strong>Eto David</strong>
                  <b>Mobile App Developer|Backend Engineer
                  </b>
                </a>
              </div>


              <div class="recent-work-item">
                <em>
                  <img src="static/image/index_images/mayor.jpg" alt="some image here" class="img-responsive">
                 
                </em>
                <a class="recent-work-description" href="javascript:;">
                  <strong>Ogunade Emmanuel</strong>
                  <b>UI/UX Designer</b>
                </a>
              </div>
              <div class="recent-work-item">
                <em>
                  <img src="static/image/index_images/ifeanyi.jpg" alt="some image here" class="img-responsive">
                </em>
                <a class="recent-work-description" href="javascript:;">
                  <strong>Ukachukwu Ifeanyi</strong>
                  <b>Web Developer</b>
                </a>
              </div>
              
              
              
            </div>       
          </div>
        </div>   
        <!-- END RECENT WORKS -->

        
        
          <!-- TESTIMONIALS -->
          <div class="col-md-5 testimonials-v1">
            <div id="myCarousel" class="carousel slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  <blockquote><p>Want to grow to be an experienced tech-guru?</p>
                    <p>It brings me great pleasure to welcome you here.</p></blockquote>
                  <div class="carousel-info">
                    <img class="pull-left" src="static/image/index_images/eto.jpg" alt="some image here">
                    <div class="pull-left">
                      <span class="testimonials-name">Eto David</span>
                      <span class="testimonials-post">Moble Application developer|Backend Engineer</span>
                    </div>
                  </div>
                </div>
                
              </div>

              <!-- Carousel nav -->
              <a class="left-btn" href="#myCarousel" data-slide="prev"></a>
              <a class="right-btn" href="#myCarousel" data-slide="next"></a>
            </div>
          </div>
          <!-- END TESTIMONIALS -->
        </div>                
        <!-- END TABS AND TESTIMONIALS -->

        <!-- BEGIN STEPS -->
        <div class="row margin-bottom-40 front-steps-wrapper front-steps-count-3">
          <div class="col-md-4 col-sm-4 front-step-col">
            <div class="front-step front-step1">
              <h2>Q/A session</h2>
              <p>you'll have answers to all relevant questions here</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 front-step-col">
            <div class="front-step front-step2">
              <h2>at a cross road?</h2>
              <p>You'll be guided properly</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 front-step-col">
            <div class="front-step front-step3">
              <h2>already Started?</h2>
              <p>You'll get first-hand information trends in your field</p>
            </div>
          </div>
        </div>
        <!-- END STEPS -->

        
        <!-- END CLIENTS -->
      </div>
    </div>

    <!-- BEGIN PRE-FOOTER -->
    <div class="pre-footer">
      <div class="container">
        <div class="row">


          <!-- BEGIN BOTTOM ABOUT BLOCK -->
          <div class="col-md-4 col-sm-6 pre-footer-col">
            <h2>About us</h2>
            <p>A society of Tech experts poised at helping young tech enginners to start their tech career on a precise note</p>

            
          </div>
          <!-- END BOTTOM ABOUT BLOCK -->


          <div class="photo-stream">
            <h2>Photos Stream</h2>
            <ul class="list-unstyled">
                <li><a href="javascript:;"><img alt="" src="static/image/index_images/eto.jpg"></a></li>
                <li><a href="javascript:;"><img alt="" src="static/image/index_images/lateef3.jpg"></a></li>
                <li><a href="javascript:;"><img alt="" src="static/image/index_images/mayor.jpg"></a></li>
                <li><a href="javascript:;"><img alt="" src="static/image/index_images/mobile_apps.jpg"></a></li>
                <li><a href="javascript:;"><img alt="" src="static/image/index_images/ifeanyi.jpg"></a></li>
                
            </ul>                    
          </div>

          <!-- BEGIN BOTTOM CONTACTS -->
          <div class="col-md-4 col-sm-6 pre-footer-col">
            <h2>Our Contacts</h2>
            <address class="margin-bottom-40">
              <br>
              Lagos, Nigeria<br>
              Phone: +2348092400015<br>
              Fax: <br>
              Email: <a href="mailto:info@metronic.com">info@teckstat.com</a><br>
              Skype: <a href="skype:metronic">teckstat</a>
            </address>

           
          </div>
          <!-- END BOTTOM CONTACTS -->

          
        </div>
      </div>
    </div>
    <!-- END PRE-FOOTER -->

    <!-- BEGIN FOOTER -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <!-- BEGIN COPYRIGHT -->
          <div class="col-md-4 col-sm-4 padding-top-10">
            2015 © Technos. ALL Rights Reserved. <a href="javascript:;">Privacy Policy</a> | <a href="javascript:;">Terms of Service</a>
          </div>
          <!-- END COPYRIGHT -->
          <!-- BEGIN PAYMENTS -->
          <div class="col-md-4 col-sm-4">
            <ul class="social-footer list-unstyled list-inline pull-right">
              <li><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
              
              <li><a href="javascript:;"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
              
              <li><a href="javascript:;"><i class="fa fa-github"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-youtube"></i></a></li>
            
            </ul>  
          </div>
          <!-- END PAYMENTS -->
          <!-- BEGIN POWERED -->
          <div class="col-md-4 col-sm-4 text-right">
            <p class="powered">Powered by: <a href="http://www.teckstart.com">techstart.com</a></p>
          </div>
          <!-- END POWERED -->
        </div>
      </div>
    </div>
    <!-- END FOOTER -->

    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="static/assets/plugins/respond.min.js"></script>
    <![endif]--> 
    <script src="static/assets/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="static/assets/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="static/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>      
    <script src="static/assets/corporate/scripts/back-to-top.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="static/assets/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
    <script src="static/assets/plugins/owl.carousel/owl.carousel.min.js" type="text/javascript"></script><!-- slider for products -->

    <script src="static/assets/corporate/scripts/layout.js" type="text/javascript"></script>
    <script src="static/assets/pages/scripts/bs-carousel.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();    
            Layout.initOWL();
            Layout.initTwitter();
            //Layout.initFixHeaderWithPreHeader(); /* Switch On Header Fixing (only if you have pre-header) */
            //Layout.initNavScrolling(); 
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
    
</body>
<!-- END BODY -->
</html>